<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  
  <system.serviceModel>

    <extensions>
      <behaviorExtensions>
        <add name="myServiceBehaviour" type="WCF.Playing.Extensions.Behaviors.MyServiceBehaviorAttribute, WCF.Playing.Extensions"/>
        <add name="myEndpointBehavior" type="WCF.Playing.Extensions.Behaviors.MyEndpointBehavior, WCF.Playing.Extensions"/>
      </behaviorExtensions>
    </extensions>
    
    <bindings>
      <basicHttpBinding>
        <binding/>

        <binding name="binding1">
          <security mode="None">
            <message clientCredentialType="Certificate" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    
    <behaviors>     
      <serviceBehaviors>
        <behavior>

          <serviceMetadata httpGetEnabled="true"></serviceMetadata>
        </behavior>
        
        <behavior name ="serviceBehaviour1">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>

          <myServiceBehaviour messageName="MessageName"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>
      <service name="WCF.Playing.Host.PlayerService" behaviorConfiguration="serviceBehaviour1" >
        <endpoint binding="basicHttpBinding" bindingConfiguration="binding1" contract="WCF.Playing.Contracts.IPlayerService" >
        </endpoint>
      </service>
    </services>
    
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    
  </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
