<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" propagateActivity="true">
        <listeners>
          <add name="ignored" type="System.Diagnostics.DefaultTraceListener" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="myServiceBehaviour" type="WCF.Playing.Extensions.Behaviors.MyServiceBehaviorAttribute, WCF.Playing.Extensions"/>        
        <add name="myEndpointBehavior" type="WCF.Playing.Extensions.Behaviors.MyEndpointBehavior, WCF.Playing.Extensions"/>
      </behaviorExtensions>
      
      <endpointExtensions>
      </endpointExtensions>
    </extensions>


    <bindings>
      <basicHttpBinding>
        <binding name="myBinding">
          
        </binding>
      </basicHttpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="myBehaviour">
          <serviceMetadata httpGetEnabled="true"/>
          <myServiceBehaviour/>
        </behavior>
      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name ="myEndpointBehaviorConfig">
          <myEndpointBehavior/>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <standardEndpoints>
    </standardEndpoints>

    <services>
      <service name="WCF.Playing.Host.PlayerService" behaviorConfiguration="myBehaviour">
        <host>
          <baseAddresses >
            <add baseAddress="http://localhost:53125/S1/"/>
          </baseAddresses>
        </host>
        
        <endpoint address="PlayerService.svc" binding="basicHttpBinding" bindingConfiguration="myBinding" contract="WCF.Playing.Contracts.IPlayerService" behaviorConfiguration="myEndpointBehaviorConfig" >
        </endpoint>

        <endpoint address="PlayerService2.svc" binding="basicHttpBinding" bindingConfiguration="myBinding" contract="WCF.Playing.Contracts.IPlayerService" behaviorConfiguration="myEndpointBehaviorConfig" >
        </endpoint>
      </service>
    </services>
  </system.serviceModel>
</configuration>