<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" propagateActivity="true">
        <listeners>
          <add name="ignored" type="System.Diagnostics.DefaultTraceListener" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  
  <system.serviceModel>

    <extensions>
      <behaviorExtensions>
        <add name="myEndpointBehavior" type="WCF.Playing.Extensions.Behaviors.MyEndpointBehavior, WCF.Playing.Extensions"/>        
      </behaviorExtensions>  
    </extensions>
    
    <bindings>
      <basicHttpBinding>
        <binding> </binding>

        <binding name="hugeBasicBinding" maxReceivedMessageSize="650000"> </binding>
      </basicHttpBinding>
    </bindings>

    
    <behaviors>
      <endpointBehaviors>
        <behavior name="endpointBehaviors1">
          <myEndpointBehavior />
        </behavior>
        
        
      </endpointBehaviors>

      <serviceBehaviors>
        <behavior name="serviceBehaviors1"/>
      </serviceBehaviors>
      
     
    </behaviors>
    

    <client>
      <endpoint name="name1" address="http://localhost:53125/S1/PlayerService.svc" contract="WCF.Playing.Contracts.IPlayerService"
                binding="basicHttpBinding" bindingConfiguration="hugeBasicBinding" 
                 behaviorConfiguration="endpointBehaviors1"/>
    </client>

    <services>
      
    </services>
    
  </system.serviceModel>
</configuration>